body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    background: url(../images/bg-desktop.svg) center center no-repeat hsl(257, 40%, 49%);
}

.cabecalho {
    margin: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    color: #fff;
    margin: 0 75px;
    gap: 30px;
}

main .text {
    padding: 15px;
    margin: 25px 0;
}

main .text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

main .text p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: 25px 0;
}

main button {
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 50px;
    color: hsl(257, 40%, 49%);
    border: none;
    box-shadow: 0 0 5px #000;
    transition: 0.3s;
}

main button:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    cursor: pointer;
}

.rodape ul {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 75px;
}

.rodape ul li {
    padding: 5px 10px;
    margin-top: 20px;
}

.rodape ul li i:hover {
    color: hsl(300, 69%, 71%);
    cursor: pointer;
    border: 1px solid hsl(300, 69%, 71%);
    border-radius: 50%;
}

.rodape ul li i {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: 0.3s;

}

.rodape ul li .fa-twitter {
    padding: 5px 8px;
}